html,
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100dvh;
  width: 100dvw;
  padding: 0;
  margin: 0;
  border: 0;
  background-color: #101010;
}

#mushy-mesh {
  display: block;
}